/* @font-face {
    font-family: 'Apercu';
    src: url("../assets/fonts/Apercu/Apercu-Light.woff") format("woff"), url("../assets/fonts/Apercu/Apercu-Light.ttf") format("truetype");
} */

@font-face {
    font-family: 'Calibre';
    src: url("../assets/fonts/calibre-cufonfonts-webfont/CalibreLight.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    /* font-family: "Apercu", Fallback, sans-serif; */
    font-family: "Calibre", Fallback, sans-serif;
    margin: 0;
    padding: 0;
}

  :root {
    --clr-light: #fafafa;
    --clr-dark: #171C28;
    --clr-dark-2: rgb(104, 104, 104);
    --clr-dark-3: #1d2331;
    --clr-primary: #e2e2e2;
    --clr-secondary: #ececec;
    --clr-tertiary: #f3f3f3;
    --clr-accent: #ff7750;
    --clr-greyscale: #e4e4e4;
    --clr-greyscale-2: #b7b7b7;
    --clr-lightblue: rgba(88, 127, 168, 1);

    --alt-text: var(--clr-lightblue);
    --foreground: var(--clr-dark);
    --foreground-2: var(--clr-dark-2);
    --background: var(--clr-light);
    --background-2: var(--clr-tertiary);
    --alt-color: var(--clr-primary);
    --alt-color-2: var(--clr-secondary);
    --alt-color-3: var(--clr-tertiary);
    --greyscale: var(--clr-greyscale);
    --greyscale-2: var(--clr-greyscale-2);
  }

  html {
    font-size: 16px;
  }

body {
    background: var(--background);
    margin: 0px;
    padding: 0px;
}

.darkmode {
    --clr-light: #fafafa;
    --clr-light-2: #dddddd;
    --clr-dark: #171C28;
    --clr-dark-3: #242b3b;
    --clr-primary: #4b4b4b;
    --clr-secondary: #333;
    --clr-tertiary: #919191;
    --clr-accent: #ff7750;
    --clr-greyscale: #323534;
    --clr-greyscale-2: #4c4c4c;
    --clr-lightblue: rgba(198, 220, 244, 0.85);

    --alt-text: var(--clr-lightblue);
    --foreground: var(--clr-light);
    --foreground-2: var(--clr-light-2);
    --background: var(--clr-dark);
    --background-2: var(--clr-dark-3);
    --alt-color: var(--clr-primary);
    --alt-color-2: var(--clr-secondary);
    --alt-color-3: var(--clr-tertiary);
    --greyscale: var(--clr-greyscale);
    --greyscale-2: var(--clr-greyscale-2);
   
  }

h1 {
    font-size: 2.7rem;
}

h2 {
     font-size: 1.2rem; 
}

ul {
    list-style-type: none;
}

/* li {
    color: grey;
    font-size: 1.15rem;
    margin: 3px 0px;
} */

.prog-lang {
    display: flex;
    font-size: 1.15rem;
    /* color: rgba(198, 220, 244, 0.85); */
    width: fit-content;
    
    
    line-height: 1;
    font-weight: bold;
    color: var(--alt-text);
}

.prog-lang-pm {
    margin: 8px 0px;
    /* padding: 2px 0px 2px 0px; */
}

.proj-lang-pm {
    margin: 3px 6px 3px 0;
    padding: 6px 9px 2px 9px;
    border: 1px solid #0b529e;
    border-radius: 12px;
}

/* .prog-lang-svg {
    fill: rgba(198, 220, 244, 0.85);
}

.group {
    display: flex;
} */

.group-text {
    /* font-style: italic; */
    padding-bottom: 10px;
}

.flex-justify {
    display: flex;
    height: 100%;
    align-items: center;
}

.theme-text {
    color: var(--foreground);
    font-size: 1.1rem;
}

.theme-text, header {
    margin-bottom: 10px;
}

.theme-fill {
    fill: var(--foreground);
}

.theme-stroke {
    stroke: var(--foreground);
    margin-left: 3px;
}

.grey-text-p {
    color: grey;
    padding: 0 2.78rem;
    /* margin-top: 2rem; */
    font-size: 1.2rem;
}

.inline {
    display: inline;
}

#wave {
    width: 2rem;
    height: 2rem;
    margin-left: 0.8rem;
}

#wave:hover {
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}


  .about-container {
      display: flex;
      padding: 5.78rem 2.78rem 0 2.78rem;
      justify-content: center;
      height: 100vh;
  }

  .about-text {
      font-size: 1.9rem;
      max-width: 700px;
      margin-right: 1rem;
      font-weight: 300;
  }

  .hello {
    font-size: 1.9rem;
    font-weight: 300;
}

.hello-header {
    margin-bottom: 2.5rem;
}

.bottom-arrow {
    position: absolute;
    bottom: 2%;
}

.top-arrow {
    position: sticky;
    bottom: 2%;
    left: 87%;
    display: inline;
    z-index: 5;
}

.arrow-fill {
    fill: #3f8fe4;
    /* background: var(--background); */
    border-radius: 50%;
}

.arrow-fill:hover {
    fill: rgba(248, 211, 0, 0.877);
}

.svg-arrow {
    border-radius: 50%;
    background: var(--background);
}

.exp-h2 {
    color: #3f8fe4;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-top: 5rem;
    font-size: 1.2rem;
}

.skills {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 0 2.78rem;
}

.skills-article {
width: 147px;
margin-bottom: 2rem;
line-height: 1.6rem;
}

.skills-article:last-child {

}

.skills-header {

}

#content {
    margin-top: -3rem;
    position: absolute;
}

.image-container {
    filter: grayscale(100%);
}

.image-container:hover {
    
    filter: grayscale(0);
    transition: ease-in-out;
    transition-duration: 0.4s;
}

#profile-image {
  height: 300px;
  /* box-shadow: 0 0 9px 0 grey; */
}

/* .in-progress {
    font-weight: 700;
    color: rgb(206, 143, 26);
    margin-left: 5px;
} */

.project-container {
    
}

.project-intro {
    /* padding: 0 1rem; */
    /* text-align: center; */
}

.project-h2 {
    color: #3f8fe4;
        margin-left: 1rem;
        margin-top: 3rem;
        font-size: 1.2rem;
    }


.project-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.project-header {
    /* text-align: center; */
    /* margin-bottom: 10px; */
    font-size: 1.8rem;
}

 .project-article {
     display: flex;
     margin: 1rem;
     text-align: flex-start;
   color: var(--foreground-2);
   width: 800px;
   margin-bottom: 4rem;
 }
 
#project-article-2 {
}

.project-article:hover {
}

.project-bottom-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    z-index: 2;
    background: var(--background);
    margin-left: 2.5rem;
}

 .project-image {
     display: flex;
    height: 300px;
    width: 375px;
 }

 .project-image:hover {
 }


 #project-image-1 {
    background-image: url("http://www.diablo3artisans.com/wp-content/uploads/2012/05/templar-spec.png");
 }

 #project-image-2 {
 background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
 }

 .project-info-container {
     display: flex; 
    justify-content: space-between;
     /* font-family: Inconsolata,monospace; ???????????????????? */
     font-weight: 700;
     margin-top: 10px;
     
}

.project-info {
/* padding: 10px; */
padding-left: 10px;
padding-top: 6px;
}

.header-div {
    display: flex;
}

.project-text-container {
    flex-grow: 1;
    
}

.read-more-2 {
    
}

.read-more-container {
    overflow: hidden; 
    padding: 0.5rem 1rem 0.5rem 0;
    margin-bottom: 0.5rem;
    position: relative;
}

.read-more {
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 700;
    align-self: center;
    color: #3f8fe4;
}

.read-more:hover {
    color: rgba(248, 211, 0, 0.877);
}

.project-tech-container {
    display: flex;
    flex-wrap: wrap;
}

 /* .project-tech {
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        line-height: 1.15rem;
        background: var(--greyscale);
        font-family: monospace;
        padding: 5px;
        font-size: 1.05rem;
        border-bottom: 1px solid var(--greyscale-2);
 } */

.article-text {
    margin: 0.5rem 0 0.25rem 0;
}

.text-shadow {
box-shadow: inset 0 -20px 20px -10px var(--background);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.project-link-container {
    display: flex;
    justify-content: center;
}

.project-link {
    text-decoration: none;
    padding-top: 5px;
    /* margin: 10px 5px; */
    margin-right: 10px;
}

.project-link:hover {

}

.project-link-svg {
    fill: #3f8fe4;
    width: 28px;
    height: 28px;
}


.project-link-svg:hover {
    fill: rgba(248, 211, 0, 0.877);
}

@media only screen and (max-width: 900px) {
    .about-container {
        flex-wrap: wrap;
        
    }
    .image-container {
        margin: 0;
        margin-bottom: 7rem;
    }
}

@media only screen and (max-width: 600px) {
    .about-container {
        padding-top: 2rem;
    }
    .image-container {
        margin-top: 1.5rem;
    }
    .about-text, .hello {
        font-size: 1.6rem;
    }

}

@media only screen and (max-width: 541px) {
    .image-container {
        position: relative;
    }
}

@media only screen and (max-width: 830px) {
    /* .project-header {
        margin-top: 20px;
    }

    .project-info {
        margin-top: 20px;
    } */
    .header-div {
        margin-top: 20px;
    }

  .project-article {
      flex-direction: column;
      width: 375px;
      border-radius: unset;
      box-shadow: unset;
  }

  .project-image {
       width: inherit;
  }

  .project-bottom-container {
      width: auto;
      margin-left: 0;
    border-radius: 0;
    box-shadow: unset;
  }
}