* {
    box-sizing: border-box;
    /* width: 100%; */
  }

  :root {
    --clr-light: #fafafa;
    --clr-dark: #171C28;
    --clr-primary: #dbffa2;
    --clr-secondary: #c3fcf2;
    --clr-accent: #ff7750;
  
    --foreground: var(--clr-dark);
    --background: var(--clr-light);
    
  }

body {
    background: var(--background);
    margin: 0px;
    padding: 0px;
}

.darkmode {
    --clr-light: #fafafa;
    --clr-dark: #171C28;
    --clr-primary: #202302;
    --clr-secondary: #00100d;
    --clr-accent: #ff7750;
  
    --foreground: var(--clr-light);
    --background: var(--clr-dark);
   
  }

.theme-text {
    color: var(--foreground);
}

.theme-fill {
    fill: var(--foreground);
}

.menu-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}

.nav {
    display: inline;
}

.ul {
    display: inline;
}

.li-ib {
    display: inline;
    font-size: 1.4rem;
    border-bottom: 1px solid black;
}

.li-ib:hover {
    font-weight: bold;
}

  .about-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

.image-container {
    
}

#profile-image {
    width: 100%;
  height: auto;
}

.project-container {

}

.project-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-header {
    text-align: center;
}

 .project-article {
     width: 400px;
     min-height: 600px;
     background-color: grey;
     margin: 1rem;
     border-radius: 1rem;
     text-align: flex-start;
 }

 .project-image {
     padding: 0.3rem;
     width: 100%;
     height: auto;
 }