* {
    box-sizing: border-box;
    font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

  :root {
    --clr-light: #fafafa;
    --clr-dark: #171C28;
    --clr-dark-2: rgb(104, 104, 104);
    --clr-primary: #e2e2e2;
    --clr-secondary: #ececec;
    --clr-tertiary: #ececec;
    --clr-accent: #ff7750;
  
    --foreground: var(--clr-dark);
    --foreground-2: var(--clr-dark-2);
    --background: var(--clr-light);
    --alt-color: var(--clr-primary);
    --alt-color-2: var(--clr-secondary);
    --alt-color-3: var(--clr-tertiary)
  }

body {
    background: var(--background);
    margin: 0px;
    padding: 0px;
}

.darkmode {
    --clr-light: #fafafa;
    --clr-light-2: #dddddd;
    --clr-dark: #171C28;
    --clr-primary: #4b4b4b;
    --clr-secondary: #333;
    --clr-tertiary: #919191;
    --clr-accent: #ff7750;

    --foreground: var(--clr-light);
    --foreground-2: var(--clr-light-2);
    --background: var(--clr-dark);
    --alt-color: var(--clr-primary);
    --alt-color-2: var(--clr-secondary);
    --alt-color-3: var(--clr-tertiary)
   
  }

h1 {
    font-size: 2.5rem;
}

h2 {
     font-size: 1rem; 
}

ul {
    list-style-type: none;
}

li {
    color: grey;
}

.theme-text {
    color: var(--foreground);
}

.theme-fill {
    fill: var(--foreground);
}

/* .menu-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}

.nav {
    display: inline;
}

.ul {
    display: inline;
}

.li-ib {
    display: inline;
    font-size: 1.4rem;
    border-bottom: 1px solid black;
}

.li-ib:hover {
    font-weight: bold;
} */


.container {
    max-width: 1300px;
    margin: 0 auto;
}


  .about-container {
      display: flex;
      /* flex-direction: column; */
      /* align-items: center; */
      padding: 3rem 3rem 0 3rem;
      justify-content: center;
  }

  .about-text {
      font-size: 1.7rem;
      max-width: 700px;
      margin-right: 1rem;
      font-weight: 300;
  }

  .hello {
    font-size: 1.7rem;
    padding-bottom: 1.5rem;
    font-weight: 300;
}


.exp-h2 {
    color: #5baaff;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-top: 3rem;
    /* font-size: 1.5rem; */
    font-size: 1rem;
}

.skills {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 0 3rem;
}

.skills-article {
height: 200px;
/* padding: 0 20px 0 0; */
width: 143px;
margin-bottom: 20px;
}

.skills-article:last-child {
    /* padding: 0; */
}

.skills-header {

}

.image-container {
    max-width: 500px;
    max-height: 300px;
    /* padding-left: 2rem; */
    /* margin: 0 2rem; */
    min-width: 350px;
    margin-top: 3rem;
    filter: grayscale(100%);
   
}

.image-container:hover {
    display: flex;
    justify-content: center;
    filter: grayscale(0);
    transition: ease-in-out;
    transition-duration: 0.4s;
}

#profile-image {
    width: auto;
  height: 100%;
  box-shadow: 0 0 9px 0 grey;
}

.project-container {

}

.project-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.project-header {
    text-align: center;
    margin: 10px 0;
    font-size: 1.4rem;
}

 .project-article {
    width: 400px;
    height: 600px; 
     /* max-height: 900px; */
     /* background-color: grey; */
     margin: 1rem;
     border-radius: 1rem;
     text-align: flex-start;
     /* filter: drop-shadow(0 0 0.25rem var(--foreground)); */
     /* border: 1px solid var(--foreground); */
     /* border: 1px solid #007bff; */
     /* filter: drop-shadow(0 0 0.55rem #007bff); */
     /* box-shadow: 0 0 8px #007bff; */
   /* background: var(--alt-color); */
   /* border: 1px solid var(--alt-color); */
   box-shadow: 0 0 0.8rem var(--alt-color);
   color: var(--foreground-2);
 }
 
.project-article:hover {
   
}

.project-article:nth-child(1) {
    margin: 0 1rem 1rem 1rem;
}

.divider {
    border: black;
    box-shadow: 0px 0px 20px 2px black;
}

.project-bottom-container {
    
}

 .project-image {
     padding: 0.3rem;
     width: 100%;
     height: auto;
     display: flex;
     /* filter: grayscale(50%); */
    
     border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    height: 50%;
    /* box-shadow: 0 12px 12px -2px grey; */
   
    
 }

 .project-image:hover {
   
 }


 #project-image-1 {
    background-image: url("http://www.diablo3artisans.com/wp-content/uploads/2012/05/templar-spec.png");
 }

 #project-image-2 {
 background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
 }

 .project-info-container {
     display: flex; 
    justify-content: space-between;
    /* color: #007bff; */
     font-family: Inconsolata,monospace;
     font-weight: 700;
     margin-top: 10px;
     
}

.project-info {
padding: 10px;
}

 

.project-tech-container {
    display: flex;
    /* background-color: var(--background); */
    padding: 0 10px;
    flex-wrap: wrap;
}

 .project-tech {
        /* border: 1px solid var(--foreground); */
        /* border: 1px solid #007bff; */
        /* color: var(--foreground); */
        /* color: rgb(153, 153, 153); */
        font-size: 1rem;
   
        /* color: #007bff; */
        /* font-family: Inconsolata,monospace; */
        font-weight: 500;
        /* text-decoration: none; */
        padding: 4px;
        /* margin: 15px 3px; */
        margin: 3px;
        border-radius: 5px;
        /* color: var(--clr-light); */
        /* background-color: var(--alt-color-2); */
        border: 1px solid #5baaff;
        color: #5baaff;

 }

.article-text {
    padding: 0px 5px;
}

 .project-link-container {
    display: flex;
    justify-content: center;
}

.project-link {
    /* border: 1px solid var(--foreground); */
    /* border: 1px solid #007bff; */
    /* color: var(--foreground); */
   /* color: var(--foreground); */
    /* color: #007bff; */
    /* font-family: Inconsolata,monospace; */
    /* font-weight: 700;  */
    text-decoration: none;
     padding: 5px;
    margin: 10px 5px;
    /* border-radius: 5px; */
}

.project-link:hover {
     /* border: 1px solid #5baaff; */
    /* color: #5baaff; */
    
}

.project-link-svg {
    fill: #007bff;
    width: 28px;
    height: 28px;
    
}


.project-link-svg:hover {
    fill: #004794;
}

@media only screen and (max-width: 900px) {
    .about-container {
        flex-wrap: wrap;
    }
    .image-container {
        /* padding: 2rem 1rem 0 1rem; */
    }
}

@media only screen and (max-width: 600px) {
    .about-container {
       /* padding: 2rem 1rem; */
    }
    .image-container {
        /* padding: 1rem 1rem 0 1rem; */
    }
    .about-text, .hello {
        font-size: 1.4rem;
    }

}


@media only screen and (max-width: 866px) {
    .project-section {
        
    }
}

@media only screen and (max-width: 541px) {
    #profile-image {
        width: 100%;
    }
}